<header class="p-2 text-bg-dark sticky-top">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <h3>ToDoList</h3>

      <ul
        class="nav col-12 col-lg-auto ms-lg-3 me-lg-auto mb-2 justify-content-center mb-md-0"
      >
        <li><a routerLink="/" class="nav-link px-2 text-white">Home</a></li>
        <li>
          <a routerLink="/users" class="nav-link px-2 text-white">Users</a>
        </li>
        <li>
          <a routerLink="/completed" class="nav-link px-2 text-white"
            >Completed</a
          >
        </li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <label for="search-form">Search User</label>
        <input
          id="search-form"
          type="search"
          class="form-control form-control-dark text-bg-dark"
          aria-label="Search"
          name="search"
          [(ngModel)]="userSearched"
          (input)="onSearchChange()"
        />
      </form>
    </div>
  </div>
</header>
